// Kafel policy. Network is also denied by a fresh network namespace.
ERRNO(1) {
  socket,
  socketpair,
  connect,
  bind,
  listen,
  accept,
  accept4,
  sendto,
  sendmsg,
  sendmmsg,
  recvfrom,
  recvmsg,
  recvmmsg,
  setsockopt,
  getsockopt,
  shutdown,
  mkdir,
  mkdirat
}
KILL {
  mount,
  umount,
  pivot_root,
  ptrace,
  process_vm_readv,
  process_vm_writev,
  kexec_load,
  finit_module,
  init_module,
  delete_module,
  bpf,
  userfaultfd,
  perf_event_open,
  open_by_handle_at,
  name_to_handle_at,
  setns,
  unshare,
  reboot
}
DEFAULT ALLOW
